config config 'config'
	option enabled '1'
	option autostart '1'
	option port '8888'

config search 'search'
	option concurrency '5'
	option timeout '30'
	option cache_ttl '60'

config telegram 'telegram'
	option enabled '1'
	list channels 'tgsearchers3'
	option check_timeout '5'
	option proxy ''

config plugins 'plugins'
	option enabled '1'
	option plugin_xys '1'
	option plugin_miaoso '1'
	option plugin_jutoushe '1'
	option plugin_alupan '1'
	option plugin_mikuclub '1'
	option plugin_ypfxw '1'
	option plugin_kkmao '1'
	option plugin_clxiong '1'
	option plugin_ash '1'
	option plugin_qingying '1'
	option plugin_meitizy '1'
	option plugin_wuji '1'
	option plugin_dyyj '1'
	option plugin_labi '1'
	option plugin_zxzj '1'
	option plugin_ddys '1'
	option plugin_lou1 '1'
	option plugin_panyq '1'

config cloud_types 'cloud_types'
	option type_baidu '1'
	option type_aliyun '1'
	option type_quark '1'
	option type_tianyi '1'
	option type_uc '1'
	option type_mobile '1'
	option type_115 '1'
	option type_pikpak '1'
	option type_xunlei '1'
	option type_123 '1'
	option type_magnet '1'
	option type_ed2k '1'
